
    
h1 {
    text-align: center;
}
div {
    /* padding: 1px, 40px, 1px, 52px; */
}
button {
    background-color:#F1F3F4;
}
.horizontal-center {
    margin: 0;
    position: relative;
    left: 50%;
}
.container {
    margin: 0 auto;
    width: 500px;
    text-align: center;
}